// Colors
$color-accent: #ed1b2c;
$color-accent-shade: #ed1b2cf0;
$color-white: #ffffff;
$color-text-main: #2b2b2b;
$color-light-yellow: #f2f5e1;
$color-gray: #8b8b8b;
$color-light-blue: #eef8fa;

// Font Sizes
$font-size-large: 50px;
$font-size-h1: 35px;
$font-size-h2: 26px;
$font-size-h3: 22px;
$font-size-paragraph: 16px;
$font-size-paragraph-small: 12px;

// Font Weight
$font-weight-h1: 900;
$font-weight-h2: 700;
$font-weight-h3: 600;
$font-weight-paragraph: 400;
$font-weight-paragraph-heavy: 600;
